 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

 @import "tailwindcss";

 

 *{
  
  font-family: Outfit;
  scroll-behavior: smooth;
 }

 @keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
 }


 .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

/* *{
  background-color: lavender;
} */